/* Estilos para Mis Estudios */

.main-content {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-tabla-paciente {
    max-height: calc(100vh - 350px);
    overflow-y: auto;
}

@media (max-width: 768px) {
    .card-header .row {
        text-align: center;
    }
    
    .card-header .col-md-8 {
        margin-top: 15px;
        justify-content: center !important;
    }

    .table-responsive-custom th,
    .table-responsive-custom td {
        padding: 0.5rem 0.25rem;
        white-space: nowrap;
    }
}
