<div class="row bl_prest" id="cardId">
    <div class="card mb-4">
    <div class="card-header pb-0">
        <div class="row">
            <div class="col-md-10"><h6><!-- IdEstudio --> </h6></div>
            <div class="col-md-2 d-flex justify-content-end">
                <button type="button" id="confirmar_dato" class="btn btn-nr-primary rounded-circle shadow-primary mx-2 btn-success">
                    <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 25px;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="class row">
            <div class="col-md-3">
                <p>Medico solicitante</p>
            </div>
            <div class="col-md-3">
                <select class="form-control medico_solicitante"></select>
            </div>

            <div class="col-md-3">
                <p>Obra social</p>
            </div>
            <div class="col-md-3">
                <select class="form-control obra_social"></select>
            </div>
        </div>

    </div>

    </div>
</div>