<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer">
    <div id="toastMessage" class="toast text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="4000">
        <div class="toast-header text-white">
            <strong class="me-auto" id="toastTitle">Éxito</strong>
            <small class="text-white-50">Ahora</small>
            <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-white" id="toastBody">
            <!-- El mensaje de éxito se actualizará aquí -->
        </div>
    </div>
</div>