<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer">
    <div id="toastMessage" class="toast text-bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="4500">
        <div class="toast-header text-dark">
            <strong class="me-auto" id="toastTitle">Advertencia</strong>
            <small class="text-dark-50">Ahora</small>
            <button type="button" class="btn-close ms-2" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-dark" id="toastBody">
            <!-- El mensaje de advertencia se actualizará aquí -->
        </div>
    </div>
</div>