.git
.gitignore
.gitattributes

venv/
venv/*
.venv/
env/
.env

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log
logs/
*.sqlite3
*.sqlite

uploads_dicom/
uploads/

node_modules/
.tox/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.egg-info/
*.egg
*.tar.gz
*.whl

.idea/
.vscode/
*.swp
*.swo
*~

Dockerfile
docker-compose.yml
.dockerignore