  <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs   fixed-start ms-0 " id="sidenav-main">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#toggle-pacientes").click(function() {
            $("#pacientes-options").toggleClass("d-none");
        });

        $("#toggle-citas").click(function() {
            $("#citas-options").toggleClass("d-none");
        });

        $("#toggle-solicitudes").click(function() {
            $("#solicitudes-options").toggleClass("d-none");
        });
        $("#toggle-admision").click(function() {
            $("#admision-options").toggleClass("d-none");
        });

        $("#toggle-informes").click(function() {
            $("#informes-options").toggleClass("d-none");
        });

    });
    </script>
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="/" target="_blank">
        <img src="{{ config.ASSETS_ROOT }}/img/logo/logo2.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">NextRIS</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-xl" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1"><p>  {{ session['user_type'] }}</p></span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if 'buscar' in segment %} active {% endif %}" href="javascript:void(0);" id="toggle-pacientes">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Pacientes</span>
          </a>
          <ul id="pacientes-options" class="d-none">
            <li>
              <a class="nav-link {% if 'buscar' in segment %} active {% endif %}" href="/buscar_paciente.html" id="toggle-pacientes">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Buscar Pacientes</span>
              </a>
            </li>

            <li>
              <a class="nav-link {% if 'historial' in segment %} active {% endif %}" href="/historial_paciente.html" id="toggle-pacientes">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Historial del paciente</span>
              </a>
            </li>

            <li>
              <a class="nav-link" href="javascript:void(0);" id="toggle-pacientes">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Unificacion de paciente</span>
              </a>
            </li>

            <li>
              <a class="nav-link" href="javascript:void(0);" id="toggle-pacientes">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Reasignacion de examenes</span>
              </a>
            </li>
          </ul>
        </li>
        {% if  session['user_type'] == 'Administrativo' or session['user_type'] == 'Sysadmin'%}
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" id="toggle-citas">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="ni ni-badge text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Citas</span>
          </a>
          <ul id="citas-options" class="d-none">
              <li><a class="nav-link {% if 'nueva_cita' in segment %} active {% endif %}" href="/nueva_cita" id="toggle-pacientes">

                    <i class="ni ni-badge text-dark text-sm opacity-10"></i>

                <span class="nav-link-text ms-1">Nueva cita</span>
            </a></li>
            <li><a class="nav-link" href="javascript:void(0);" id="toggle-pacientes">

                  <i class="ni ni-badge text-dark text-sm opacity-10"></i>

              <span class="nav-link-text ms-1">Editar cita</span>
                </a></li>
          </ul>
        </li>
        {% endif %}
        {% if  session['user_type'] == 'Administrativo' or session['user_type'] == 'Sysadmin'%}
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" id="toggle-admision">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="ni ni-circle-08 text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Admision</span>
          </a>
          <ul id="admision-options" class="d-none">
              <li><a class="nav-link {% if 'admision_por_cita' in segment %} active {% endif %}" href="/admision_directa" id="toggle-pacientes">

                    <i class="ni ni-circle-08 text-dark text-sm opacity-10"></i>

                <span class="nav-link-text ms-1">Adm por cita</span>
            </a></li>
            <li><a class="nav-link {% if 'admision_directa' in segment %} active {% endif %}" href="/admision_directa" id="toggle-pacientes">

                  <i class="ni ni-circle-08 text-dark text-sm opacity-10"></i>

              <span class="nav-link-text ms-1">Adm Directa</span>
                </a></li>
          </ul>
        </li>
        {% endif %}
        {% if  session['user_type'] == 'Tecnico' or session['user_type'] == 'Sysadmin' %}
        <li class="nav-item">
          <a class="nav-link {% if 'billing' in segment %} active {% endif %}" href="/ejecucion.html">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-active-40 text-success text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Ejecucion</span>
          </a>
        </li>
        {% endif %}
        {% if  session['user_type'] == 'Medico' or session['user_type'] == 'Sysadmin' %}
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" id="toggle-informes">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="fa fa-file text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Redaccion de informes</span>
          </a>
          <ul id="informes-options" class="d-none">
            <li>
              <a class="nav-link" href="/redaccion_informe" id="toggle-pacientes">
                  <i class="fa fa-file text-dark text-sm opacity-10"></i>
                <span class="nav-link-text ms-1">Radiologia</span>
              </a>
            </li>

            <li>
              <a class="nav-link" href="/informmes_predef" id="toggle-pacientes">
                  <i class="fa fa-file text-dark text-sm opacity-10"></i>
                <span class="nav-link-text ms-1">Inf. Predef</span>
              </a>
            </li>
              
          </ul>
        </li>
        {% endif %}
        {% if  session['user_type'] == 'Administrativo' or session['user_type'] == 'Sysadmin' %}
        <li class="nav-item">
          <a class="nav-link {% if 'billing' in segment %} active {% endif %}" href="/distribucion.html">
            <div class="icon icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-send text-success text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Distribucion</span>
          </a>
        </li>
        {% endif %}
        {% if  session['user_type'] == 'Sysadmin' %}
        
        <li class="nav-item">
            <a class="nav-link {% if 'configuraciones' in segment %} active {% endif %}" href="/configuraciones.html">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-settings text-success text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Configuraciones</span>
            </a>
        </li>
        {% endif %}
              
          </ul>
        </li>
        
        
      </ul>
    </div>
    
  </aside>
  