<div class="row">
    <!-- Tabla de Profesionales - col-8 -->
    <div class="col-md-8">
        <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-4">
                        <h6>Medicos de la institución</h6>
                    </div>
                    <div class="col-md-2">
                        <h7>Buscar:</h7>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="search_doctor" name="search_doctor">
                    </div>
                </div>
            </div>
            <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
                <table class="tabla-paciente table" id="tabla_med_ag">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>                
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div> 
        </div>
    </div>

    <!-- Columna derecha con las otras dos tablas - col-4 -->
    <div class="col-md-4">
        <!-- Tabla de agenda del profesional -->
        <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Agenda del profesional</h6>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-nr-primary rounded-circle botones_am" id="b_agregar_item" data-bs-toggle="modal" data-bs-target="#modal_am" style="font-size: 20px;">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-nr-primary rounded-circle botones_am" id="b_editar_item" disabled>
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-nr-primary rounded-circle botones_am delete_b" id="b_eliminar_item" disabled>
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
                <table class="tabla-paciente table" id="tabla_seg_ag">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Inicio</th>
                            <th>Final</th>
                            <th>A partir del</th> 
                            <th>Hasta el</th>                 
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div> 
        </div>

        <!-- Tabla de grupos de estudios -->
        <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Grupos que lee</h6>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <button type="button" class="btn btn-nr-primary rounded-circle botones_ag" id="b_agregar_grupo_med" data-bs-toggle="modal" data-bs-target="#modal_agregar_grupo_med" style="font-size: 20px;">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-nr-primary rounded-circle botones_ag delete_b" id="b_eliminar_grupo_med" disabled>
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
                <table class="tabla-paciente table" id="grupos_del_medico">
                    <thead>
                        <tr>
                            <th>Grupo</th>            
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>