<!-- modal -->

<div class="modal fade custom-modal" id="modal_bu" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalLabel" aria-hidden="false" data-bs-backdrop="true" >
    <div class="modal-dialog" z-index="-2">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Unidad de negocio</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
          </div>

          <div class="modal-body">
            <form id="Form_bu" method="POST" action="/agregar_bu">
                <input type="hidden" name="id_bu" id="id_bu">
        
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="Description_room">Descripción</label>
                        <input type="text" class="form-control" id="Description_bu" name="Description_bu" required>
                    </div>
                </div>

                <div class="form-group row"> 
                    <div class="col-md-6">
                        <label for="code_bu">Codigo</label>
                        <input type="text" class="form-control" id="code_bu" name="code_bu">
                    </div>
                    <div class="col-md-6">
                        <label for="ex_code_bu">Codigo Externo</label>
                        <input type="text" class="form-control" id="ex_code_bu" name="ex_code_bu">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="Description_room">Http PACS</label>
                        <input type="text" class="form-control" id="http_pacs" name="http_pacs">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <input type="checkbox" id="IsAc_bu" name="IsAc_bu"><label for="IsAc_bu">Activo</label><br>
                        <input type="checkbox" id="tecnico_obl" name="tecnico_obl"><label for="tecnico_obl">Tecnico Obligatorio</label><br>
                        <input type="checkbox" id="questions_manda" name="questions_manda"><label for="questions_manda">Preguntas anamnésicas obligatorias</label>

                    </div>
                </div>

                
            
        </div>
          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-success save-changes" id="b_save">Guardar Unidad</button>
          </form>
            <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </div>
      
        
    </div>
  </div>
<!-- Fin modal -->

<!-- Card Búsqueda -->
<div class="row" id="card_busqueda_bu">
    <div class="col-12">
        
        <div class="card mb-4" >
        <div class="card-header pb-0">
        </div>
        
        <div class="card-body px-0 pt-0 pb-2">
            
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <label for="search_bu">
                        Buscar Unidad de negocio
                    </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="search_bu" name="search_bu">
                </div>
                        
                <div class="col-md-3">
                    <input type="button" value="Buscar" class="btn btn-primary" id="boton-buscar-bu">
                    
                    <button type="button" id="b_nuevo_bu" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_bu">Nueva Unidad</button>
                </div>
                
            </div>
        </div>
        </div>
        
        </div>
    </div>
</div>
<!-- FIN Card Búsqueda -->

<!-- Card tabla unidades de negocio -->
<div class="row" id="card_tabla_bu">
    <div class="col-12">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-4">
                    <h6>Unidades de negocio</h6>
                </div>
                <div class="col-md-8 d-flex justify-content-end">
                    <button type="button" id="b_dominio_bu" class="btn btn-secondary botones_bu" disabled>Dominio</button>
                    <button type="button" id="b_editar_bu" class="btn btn-secondary botones_bu" disabled>Editar Unidad</button>
                    <button type="button" id="b_eliminar_bu" class="btn btn-secondary botones_bu delete_b" disabled>Eliminar Unidad</button>
                </div>
                
            </div>
            
            
        </div>
        <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
            <table class="tabla-paciente table" id="tabla-bu">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Codigo</th>
                        <th>Codigo Ex</th>
                        <th>Activo</th>
                        <th>PACS</th>
                        <th>Cuestionario</th>
                        <th>Tecnico Obligatorio</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
    </div>
    </div>
</div>
<!-- Fin Card tabla unidades de negocio -->


<!-- modal procedencias de unidad de negocios -->

<div class="modal fade custom-modal" id="modal_bu_pro" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalLabel" aria-hidden="false" data-bs-backdrop="true" >
    <div class="modal-dialog" z-index="-2">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar o quitar procedencias</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
          </div>

          <div class="modal-body">
            <form id="Form_bu_pro" method="POST" action="/modificar_bu_pro">
                <input type="hidden" name="name_bu" id="name_bu">
        
                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Seleccionar procedencias:</label><br>
                        
                    </div>
                </div>
        </div>
          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-success save-changes" id="b_save">Guardar</button>
          </form>
            <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </div>
      
        
    </div>
</div>

<!-- fin modal procedencias de unidad de negocios -->

<!-- modal equipamiento de unidad de negocios -->

<div class="modal fade custom-modal" id="modal_bu_equip" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalLabel" aria-hidden="false" data-bs-backdrop="true" >
    <div class="modal-dialog" z-index="-2">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar o quitar Equipamiento</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
          </div>

          <div class="modal-body">
            <form id="Form_bu_equip" method="POST" action="/update_equip">
                <input type="hidden" name="name_bu_equip" id="name_bu_equip">
        
                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Seleccionar Equipamiento:</label><br>
                        
                    </div>
                </div>
        </div>
          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-success save-changes" id="b_save">Guardar</button>
          </form>
            <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </div>
      
        
    </div>
</div>

<!-- fin modal procedencias de unidad de negocios -->

<!-- modal modalidades de unidad de negocios -->

<div class="modal fade custom-modal" id="modal_bu_mod" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalLabel" aria-hidden="false" data-bs-backdrop="true" >
    <div class="modal-dialog" z-index="-2">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar o quitar Modalidaqdes</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
          </div>

          <div class="modal-body">
            <form id="Form_bu_mod" method="POST" action="/update_mod">
                <input type="hidden" name="name_bu_mod" id="name_bu_mod">
        
                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Seleccionar Modalidad/es:</label><br>
                        
                    </div>
                </div>
        </div>
          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-success save-changes" id="b_save">Guardar</button>
          </form>
            <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </div>
      
        
    </div>
</div>

<!-- fin modal mod de unidad de negocios -->

<!-- Card tabla dominios -->

<div class="row hidden" id="card_tabla_dominios">

    <div class="row">
        <div class="col-12">
            <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-10">
                        <h2 id="Titulo_dom">Titulo</h2>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end">
                        <button type="button" id="b_volver_bu" class="btn btn-danger"><i class="fa fa-window-close-o fa-2x" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-10">
                    <h3>Procedencias</h3>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <button type="button" id="b_agregar_procede" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_bu_pro"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
                </div>
                
            </div>
            
            
        </div>
        <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
            <table class="tabla-paciente table" id="tabla-bu_proce">
                <thead>
                    <tr>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
    </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-10">
                    <h3>Equipamiento</h3>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <button type="button" id="b_agregar_equip" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_bu_equip"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
                </div>
                
            </div>
            
            
        </div>
        <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
            <table class="tabla-paciente table" id="tabla-bu_equip">
                <thead>
                    <tr>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
    </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-10">
                    <h3>Metodologías</h3>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <button type="button" id="b_agregar_mod" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_bu_mod"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
                </div>
                
            </div>
            
            
        </div>
        <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
            <table class="tabla-paciente table" id="tabla-bu_modalities">
                <thead>
                    <tr>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
    </div>
    </div>

</div></div>
<!-- Fin Card tabla unidades de negocio -->
