<!-- modal -->

<div class="modal fade custom-modal" id="modal_exam" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalLabel" aria-hidden="false" data-bs-backdrop="true" >
    <div class="modal-dialog" z-index="-2">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Examen</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
          </div>

          <div class="modal-body">
            <form id="Form_exams" method="POST" action="/agregar_examen">
                <input type="hidden" name="id_examen" id="id_examen">
        
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="Description_ex">Descripción</label>
                        <input type="text" class="form-control" id="Description_ex" name="Description_ex" required>
                    </div>
                    
                </div>
        
                <div class="form-group row"> 
                    <div class="col-md-3">
                        <label for="s_cod_min">Cod Ministerial</label><br>
                        <select id="s_cod_min" name="s_cod_min" required class="form-control">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="time_execution">Tiempo de ejec</label>
                        <input type="number" class="form-control" id="time_execution" name="time_execution">
                    </div>
                    <div class="col-md-3">
                        <label for="s_modality">Modalidad</label><br>
                        <select id="s_modality" name="s_modality" required class="form-control">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="precio">Precio</label><br>
                        <input type="number" class="form-control" id="precio" name="precio">
                        </select>
                    </div>
                </div>
                <div class="form-group row"> 
                    <div class="col-md-6">
                    <input type="checkbox" id="IsAc_ex" name="IsAc_ex" class="form-check"><label for="IsAc_ex">Activo</label>
                </div>
                </div>
            
        </div>
          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-success save-changes" id="b_save">Guardar examen</button>
          </form>
            <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </div>
      
        
    </div>
  </div>
<!-- Fin modal -->
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
        
            <div class="card-body px-0 pt-2 pb-2 d-flex justify-content-center align-items-center">
            
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <label for="search_exam">
                        Buscar examenes
                    </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="search_exam" name="search_exam">
                </div>
                <div class="col-md-3 d-flex ms-auto justify-content-end ">
                    <button type="button" id="b_nuevo_examen" class="btn btn-nr-primary btn-success" data-bs-toggle="modal" data-bs-target="#modal_exam" style="font-size: 25px;">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>
                </div>          
               
            </div>
        </div>
        </div>
        
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-4">
                    <h6>Examenes</h6>
                </div>
                <div class="col-md-8 d-flex justify-content-end">

                    <button type="button" class="btn btn-nr-primary rounded-circle botones_ex" id="b_editar_examen"  disabled>
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                      </button>

                      <button type="button" class="btn btn-nr-primary rounded-circle delete_b botones_ex" id="b_eliminar_examen"  disabled>
                        <i class="fas fa-trash" aria-hidden="true"></i>
                      </button>
                </div>
                
            </div>
            
            
        </div>
        <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
            <style>
                th, td {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            </style>
            
            <table class="tabla-paciente table" id="tabla-examen" style="table-layout: fixed; width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 65%;">Descripción</th>
                        <th style="width: 10%;">Cod Ministerial</th>
                        <th style="width: 10%;">Modalidad</th>
                        <th style="width: 5%;">Tiempo de ejecucion</th>
                        <th style="width: 5%;">Activo</th>
                        <th style="width: 10%;">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- filas de la tabla -->
                </tbody>
            </table>
        </div> 
    </div>
    </div>
    </div>
