<div class="row">
    <div class="col-12">
        <div class="card mb-4">
        <div class="card-header pb-0">
        </div>
        
        <div class="card-body px-0 pt-0 pb-2">
            
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <label for="search_group_origins">
                        <h6>Buscar grupo de procedencia</h6>
                    </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="label_origins" name="group_origins">
                </div>


                <div class="col-md-3 d-flex ms-auto justify-content-end ">
                    <button type="button" id="b_nuevo_origen" class="btn btn-nr-primary btn-success" data-bs-toggle="modal" data-bs-target="#modal_or" style="font-size: 25px;">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>
                </div>    
                    
                
            </div>
        </div>
        </div>
        
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-4">
                    <h6>Procedencias</h6>
                </div>
                <div class="col-md-8 d-flex justify-content-end">
                    <button type="button" class="btn btn-nr-primary rounded-circle botones" id="b_editar_origen"  disabled>
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                      </button>

                      <button type="button" class="btn btn-nr-primary rounded-circle botones delete_b" id="b_eliminar_origen"  disabled>
                        <i class="fas fa-trash" aria-hidden="true"></i>
                      </button>

                </div>
                
            </div>
            
            
        </div>
        <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
            <table class="tabla-paciente table" id="tabla-origenes">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Grupo</th>
                        <th>Activo</th>
                        <th>C. de transcodificación</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
    </div>
    </div>
    </div>
