<!-- modal -->

<div class="modal fade custom-modal" id="modal_or" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalLabel" aria-hidden="false" data-bs-backdrop="true" >
    <div class="modal-dialog" z-index="-2">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Procedencia</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
          </div>

          <div class="modal-body">
            <form id="Form_origen" method="POST" action="/agregar_origen">
                <input type="hidden" name="id_origin" id="id_origin">
        
                <div class="form-group row">
                    <div class="col-md-8">
                        <label for="Description_o">Descripción</label>
                        <input type="text" class="form-control" id="Description_o" name="Description_o" required>
                    </div>
                    <div class="col-md-4">
                        <label for="especialidad">Grupo de Proveniencia</label><br>
                        <select id="s_go" name="s_go">
                        </select>
                    </div>
                </div>
        
                <div class="form-group row"> 
                    <div class="col-md-6">                  
                         <input type="checkbox" id="IsAc" name="IsAc"><label for="IsAc">Activo</label>  <br>
                        <input type="checkbox" id="PatientCD" name="PatientCD"><label for="PatientCD">PatientCD</label><br>
                        <input type="checkbox" id="IsEditingExaminationDisabled" name="IsEditingExaminationDisabled"><label for="IsEditingExaminationDisabled">Edición del examen</label><br>
                        <input type="checkbox" id="PublicationWeb" name="PublicationWeb"><label for="PublicationWeb">Publicacion Web</label><br>
                        <input type="checkbox" id="IsOrderToNotify" name="IsOrderToNotify"><label for="IsOrderToNotify">Orden obligatoria</label><br>
                    </div> 
                    <div class="col-md-6">                  
                        <input type="checkbox" id="IsChargeMandatory" name="IsChargeMandatory"><label for="IsChargeMandatory">Cargo Obligatorio</label><br>
                        <input type="checkbox" id="IsPriceListMandatory" name="IsPriceListMandatory"><label for="IsPriceListMandatory">Obra social obligatoria</label><br>
                        <input type="checkbox" id="IsOrderToNotify" name="IsOrderToNotify"><label for="IsOrderToNotify">Orden a notificar</label>
                    </div> 
                </div>
                <div class="form-group row"> 
                    <label for="AltCode_or">Codigo de transcodificación</label>
                    <input type="text" class="AltCode_or" id="AltCode_or" name="AltCode_or" required>
                </div>
            
        </div>
          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-success save-changes" id="b_save">Guardar Procedencia</button>
          </form>
            <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </div>
      
        
    </div>
  </div>
<!-- Fin modal -->
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
        <div class="card-header pb-0">
        </div>
        
        <div class="card-body px-0 pt-0 pb-2">
            
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <label for="search_group_origins">
                        Buscar grupo de procedencia
                    </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="label_origins" name="group_origins">
                </div>
                        
                <div class="col-md-3">
                    <input type="button" value="Buscar" class="btn btn-primary" id="boton-buscar-origen">
                    
                    <button type="button" id="b_nuevo_origen" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_or">Nueva Procedencia</button>
                </div>
                
            </div>
        </div>
        </div>
        
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-4">
                    <h6>Procedencias</h6>
                </div>
                <div class="col-md-8 d-flex justify-content-end">
                    <button type="button" id="b_editar_origen" class="btn btn-secondary botones_or" disabled patient-id="">Editar Procedencia</button>
                    <button type="button" id="b_eliminar_origen" class="btn btn-secondary botones_or delete_b" disabled patient-id="">Eliminar Procedencia</button>
                </div>
                
            </div>
            
            
        </div>
        <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
            <table class="tabla-paciente table" id="tabla-origenes">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Grupo</th>
                        <th>Activo</th>
                        <th>C. de transcodificación</th>
                        <th>PatientCD</th>
                        <th>Ed Examen</th>
                        <th>Pub Web</th>
                        <th>Obra social obligatoria</th>
                        <th>Impresion Auto</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
    </div>
    </div>
    </div>
