<div class="row">
    <div class="col-12">
        <div class="card mb-4">
        <div class="card-header pb-0">
        </div>
        
        <div class="card-body px-0 pt-0 pb-2">
            
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <label for="search_group_users">
                        Buscar usuario
                    </label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="search_group_users" name="search_group_users">
                </div>
                <div class="col-md-3 d-flex ms-auto justify-content-end ">
                    <button type="button" id="b_nuevo_user" class="btn btn-primary btn-success" data-bs-toggle="modal" data-bs-target="#modal_users" style="font-size: 25px;">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        <span>Añadir usuario</span>
                    </button>
                </div>           
                
            </div>
        </div>
        </div>
        
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-3">
                    <h6>Lista de usuarios</h6>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="show_inactive_users">
                        <label class="form-check-label" for="show_inactive_users">
                            Mostrar usuarios desactivados
                        </label>
                    </div>
                </div>
                <div class="col-md-7 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary botones_user" id="b_editar_user"  disabled>
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        <span>Editar</span>
                      </button>

                      <button type="button" class="btn btn-primary rounded-circle botones_user" id="b_medical_data" title="Agregar datos médicos" disabled>
                        <i class="fas fa-user-md" aria-hidden="true"></i>
                        <span>Datos médicos</span>
                      </button>

                      <button type="button" class="btn btn-primary botones_user" id="b_reset_password" title="Reiniciar contraseña" disabled>
                        <i class="fas fa-key" aria-hidden="true"></i>
                        <span>Reiniciar contraseña</span>
                      </button>

                      <button type="button" class="btn btn-primary rounded-circle botones_user delete_b" id="b_eliminar_user"  disabled>
                        <i class="fas fa-trash" aria-hidden="true"></i>
                        <span>Eliminar</span>
                      </button>

                      <button type="button" class="btn btn-primary rounded-circle botones_user" id="b_activar_user" style="background-color: #28a745; display: none;" disabled>
                        <i class="fas fa-undo" aria-hidden="true"></i>
                        <span>Activar</span>
                      </button>
                </div>
                
            </div>
            
            
        </div>
        <div class="card-body card-tabla-quasi-full px-0 pt-0 pb-2">
            <table class="tabla-paciente table" id="tabla_usuarios">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>   
                        <th>Email</th>  
                        <th>Activado</th>                    
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
    </div>
    </div>
    </div>
    <!-- <script src="{{ config.ASSETS_ROOT }}/js/users.js"></script> -->
