<div class="row">
  <div class="col-12">
    <div class="card mb-4 shadow">
      <div class="card-header pb-0">
        <h6>Configuración de Agenda</h6>
      </div>
      <div class="card-body">
          <div class="mb-3">
            <label for="agenda-tipo" class="form-label">Workflow de agenda</label>
            <select class="form-control" id="agenda-tipo" name="agenda-tipo">
              <option value="medico">Agenda por médico</option>
              <option value="equipo">Agenda por equipo</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="agenda-estudios" class="form-label">¿Contemplar grupos de estudios?</label>
            <select class="form-control" id="agenda-estudios" name="agenda-estudios">
              <option value="con-grupos">Sí, contemplar grupos de estudios</option>
              <option value="sin-grupos">No, solo agenda general</option>
            </select>
          </div>
          
          <button class="btn btn-primary" id="guardar-configuracion">Guardar configuración</button>
      </div>
    </div>
  </div>
</div>
</div>
