<div class="row" id="agenda-section">
    <div class="col-4">
        <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h6>Citas a asignar</h6>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        <button type="button" id="b_undo" class="btn btn-nr-primary rounded-circle shadow-primary mx-2 botones_sp btn-danger">
                            <i class="fa fa-undo" aria-hidden="true" style="font-size: 25px;"></i>
                        </button>
                    </div>
                </div>   
            </div>
            <div class="card-body card-tabla-paciente px-0 pt-0 pb-2">
                <div id='external-events'>
           
                </div>
            </div> 
        </div>   
    </div>
    <div class="col-4">
        <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Profesional</h6>
                    </div>
                </div>   
            </div>
            <div class="card-body card-tabla-paciente">
                <div class="row">
                    <div class="col-md-12">
                        <select id="prof_ag" name="prof_ag" class="form-control">
                            <!-- Opciones de profesionales -->
                        </select>
                    </div>
                </div>
            </div> 
        </div>   
    </div>

    <div class="col-4">
        <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Fecha deseada</h6>
                    </div>
                </div>   
            </div>
            <div class="card-body card-tabla-paciente">
                <input type="date" id="wish_date" name="wish_date" min="2023-01-01" max="2024-12-31" class="form-control"/>
            </div> 
        </div>   
    </div>
    <div class="row" id="card-agenda" hidden>
        <div class="card mb-12 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Arrastra el evento donde lo requieras>></h6>
                    </div>
                </div>   
            </div>
            <div class="card-agenda-general px-0 pt-0 pb-2">
                <div id="calendario" class="calendarioo"></div>
            </div> 
        </div>
    </div>
</div>




