<div class="row" id="fill_exam">

    <div class="row">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Selecciona examen</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label for="tipoexamen">
                            Tipo de examen:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <select id="tipo_examen" name="tipo_examen" class="form-control" >
                            <option value="default">default</option>
                        </select>
                    </div>
                </div>      
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label for="tipoexamen">
                            Partes del cuerpo:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <select id="parte_cuerpo" name="parte_cuerpo" class="form-control">
                            <option value="default">default</option>
                        </select>
                    </div>
                </div>      
            </div>
            
          </div>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-4">
                    <h6>Estudios</h6>
                </div>
                <div class="col-md-8 d-flex justify-content-end">
                    <button type="button" id="seleccionar-estudio" class="btn btn-nr-primary rounded-circle shadow-primary mx-2  boton_est" disabled>
                        <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 25px;"></i>
                    </button>
                </div>
                
            </div>
            
            
        </div>
        <div class="card-body card-tabla-paciente px-0 pt-0 pb-2">
            <table class="tabla-estudios table" id="tabla-estudios">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Modalidad</th>
                        <th>Parte del cuerpo</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div> 
    </div>
  </div>
  </div>

  <div class="row">
    
      <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-4">
                    <h6>Estudios Seleccionados</h6>
                </div>

                <div class="col-md-8 d-flex justify-content-end">
                    <button type="button" id="quitar-estudio"  class="btn btn-nr-primary rounded-circle shadow-primary mx-2  botones btn-danger" disabled>
                        <i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 25px;"></i>
                    </button>
                </div>
            </div>
            
            
        </div>
        
        <div class="card-body card-tabla-paciente px-0 pt-0 pb-2">
            <table class="tabla-estudios table" id="tabla-estudios-selec">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div> 
    </div>

  </div>
  <div id="cita_conteiner">
    
  </div>


  
</div>