<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Datos de la prestación</h6>
        </div>
        <div class="card-body">
            <div class="class row">
                <div class="col-2">
                    <p>Medico solicitante</p>
                </div>

                <div class="col-2">
                    <select name="medico_solicitante" id="medico_solicitante"></select>
                </div>

                <div class="col-2">
                    <p>Obra social</p>
                </div>
                <div class="col-2">
                    <select name="obra_social" id="obra_social"></select>
                </div>

                <div class="col-2">
                    <p>Urgencia</p>
                </div>
                <div class="col-2">
                    <select name="urgencia" id="urgencia">
                        <option value="baja">Baja</option>
                        <option value="normal">Normal</option>
                        <option value="alta">Alta</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <button type="button" id="finalizar_orden" class="btn btn-success">Finalizar</button>
            </div>

        </div>
    
      </div>
    </div>
</div>

