<div class="row">
    <div class="col-12">
      <div class="card mb-4 nr-card-1">
        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
          <h6>Buscar Paciente</h6>
          <div class="d-flex ms-auto">
            <button type="button" class="btn btn-nr-primary rounded-circle shadow-primary mx-2" id="b_search">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-nr-primary rounded-circle shadow-primary mx-2" data-bs-toggle="modal" id="b_abrir_modal" data-bs-target="#modal_np">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
            <button class="btn btn-nr-primary rounded-circle shadow-primary mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCardBody" aria-expanded="false" aria-controls="collapseCardBody">
              <i class="fa fa-filter" aria-hidden="true"></i> 
            </button>
          </div>
        </div>
        
        
        <div id="collapseCardBody" class="collapse">
          <hr class="horizontal dark mt-0">
          <div class="card-body px-0 pt-0 pb-2">
            <input type="hidden" name="url" id="url" value="buscar_paciente.html">
            <div class="container-fluid">
              <div class="row datos-paciente align-items-center">    
                <div class="col-md-5">
                  <div class="row">
                    <div class="row justify-content-center align-items-center">
                      <div class="col-md-4">
                        <label for="name">Nombre</label>
                      </div>
                      <div class="col-md-4">
                        <input class="form-control" id="l_name" name="l_name">
                      </div>
                      <div class="col-md-4">
                        <input class="form-control" id="l_surname" name="l_surname">
                      </div>
                    </div>
    
                    <div class="row justify-content-center align-items-center">
                      <div class="col-md-4">
                        <label for="documento">DNI</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" id="documento" name="documento">
                      </div>
                    </div>
        
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-md-4">
                      <label for="l_sex">Sexo</label>
                    </div>
                    <div class="col-md-8">
                      <select id="l_sex" name="l_sex" class="form-control">
                        <option value="M">M</option>
                        <option value="F">F</option>
                        <option value="I">Indefinido</option>
                      </select>
                    </div>
                  </div>
    
                  <div class="row justify-content-center align-items-center">
                    <div class="col-md-4">
                      <label for="fecha_nac">Fecha</label>
                    </div>
                    <div class="col-md-8">
                      <input type="date" class="form-control" id="fecha_nac" name="fecha_nac">
                    </div>
                  </div>
    
                </div>
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-4">
                    <h6>Resultados</h6>
                </div>
                <div class="col-md-8 d-flex justify-content-end">
                    <button type="button" id="b_sel_pac_para_adm" class="btn btn-nr-primary rounded-circle shadow-primary mx-2 botones_sp" disabled patient-id="">
                        <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 25px;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body card-tabla-paciente px-0 pt-0 pb-2">
            <table class="tabla-primary table" id="tabla-paciente">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Fecha de nacimiento</th>
                        <th>DNI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="patient-row">
                        <!-- Contenido dinámico aquí -->
                    </tr>
                </tbody>
            </table>
        </div> 
        </div>
    </div>
</div>
