<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Buscar Paciente</h6>
        </div>
        
        <div class="card-body px-0 pt-0 pb-2">
            <form id="search_patient"  method="POST" action="/buscar_pacientes">
                <input type="hidden" name="url" id="url" value="buscar_paciente.html">
              <div class="container-fluid">
                <div class="row datos-paciente">    
                    <div class="col-md-5">
                        <div class="row">
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="name">
                                        Nombre
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" id="name" name="name">
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" id="surname" name="surname">
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="documento">
                                        DNI
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="documento" name="documento">
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="Telefono">
                                        N Telefono
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="Telefono" name="Telefono">
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="buscar_mail">
                                        Mail
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input class="form-control" id="buscar_mail" name="buscar_mail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="sex">
                                    Sexo
                                </label>
                            </div>
                            <div class="col-md-8">
                                <select id="sex" name="sex">
                                    <option value="M">Masculino </option>
                                    <option value="F">Femenino</option>
                                    <option value="I">Indefinido</option>
                                    <option value="D">Desconocido</option>
                                  </select>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fecha_nac">
                                    Fecha
                                </label>
                            </div>
                            <div class="col-md-8">
                                <input type="date" class='dp' id="fecha_nac" name="fecha_nac">
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-4">
                                <label for="tarjeta_sanitaria">
                                    Tarjeta Sanitaria
                                </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="tarjeta_sanitaria" name="tarjeta_sanitaria">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="tsan">
                                    Id Paciente
                                </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="idP" name="idP">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        
                        <input type="submit" value="Buscar" class="btn btn-primary" id="b_search"></form>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="asd" data-bs-target="#modal_np">Nuevo</button><br>
                    
                    
                </div>
                
            </div>
    
    
            <div class="row">
                <div class="col-md-12">
                    <table>
    
                    </table>
                </div>
            </div>
          
        </div>
       

        </div>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <div class="card mb-4 shadow">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-md-4">
                    <h6>Resultados</h6>
                </div>
                <div class="col-md-8 d-flex justify-content-end">
                    <button type="button" id="b_sel_pac_para_adm" class="btn btn-secondary botones_sp" disabled patient-id="">Seleccionar paciente</button>
                </div>
                
            </div>
            
            
        </div>
            <div class="card-body card-tabla-paciente px-0 pt-0 pb-2">
                <table class="tabla-paciente table" id="tabla-paciente">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Sexo</th>
                            <th>Fecha de nacimiento</th>
                            <th>DNI</th>
                        </tr>
                    </thead>
                    <tbody>

                            <tr class="patient-row">

                            </tr>
                        
                    
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
  </div>