{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css' rel='stylesheet' />
{% endblock stylesheets %}
  

{% block content %}

<div class="position-absolute w-100 min-height-300 top-0" 
style="background-image: url('{{ config.ASSETS_ROOT }}/img/hospital.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
<span class="mask bg-primary opacity-6"></span>
</div>
      
  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">
    <div id="toastContainer"></div>

    <div class="container-fluid py-4">
        <div class="row mb-4">
            <ul class="nav nav-pills mb-3 align-items-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-paciente-tab" data-bs-toggle="pill" data-bs-target="#pills-paciente" type="button" role="tab" aria-controls="pills-paciente" aria-selected="true">Paciente</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-examen-tab" data-bs-toggle="pill" data-bs-target="#pills-examen" type="button" role="tab" aria-controls="pills-examen-" aria-selected="false">Examen</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-prest-tab" data-bs-toggle="pill" data-bs-target="#pills-prest" type="button" role="tab" aria-controls="pills-prest" aria-selected="false">Prestación</button>
                </li>
                <li class="nav-item" role="presentation" id="dni-item" style="pointer-events: none; margin-left: auto;">
                    <span class="nav-link hidden" aria-selected="false" id="dni-value">hola</span>
                </li>
                <!-- Botón adicional con clase ms-auto -->
                <li class="nav-item align-items-end pt-2" role="presentation">
                  <button type="button" id="finalizar_orden" class="btn btn-nr-primary btn-success">
                      <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 30px;"></i>
                  </button>
              </li>
            </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-paciente" role="tabpanel" aria-labelledby="pills-paciente-tab">
                    {% include "includes/admision_templates/search_patient.html" %}
                </div>
                <div class="tab-pane fade" id="pills-examen" role="tabpanel" aria-labelledby="pills-examen-tab">
                    {% include "includes/admision_templates/exam.html" %}
                </div>
                <div class="tab-pane fade" id="pills-prest" role="tabpanel" aria-labelledby="pills-prest-tab">
                    {% include "includes/admision_templates/prestacion.html" %}
                </div>
                
              </div>
        </div>
      

      

      {% include "includes/footer.html" %}

    </div>
    <script src="{{ config.ASSETS_ROOT }}/js/admision.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/nrframework.js"></script>
    <!-- <script src="{{ config.ASSETS_ROOT }}/js/scriptsCitas.js"></script> -->
    
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js'></script>
    <!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/interaction/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/daygrid/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/timegrid/main.min.js'></script> -->

  </main>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}
