<div class="row">
    <div class="col-4">
        <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-12">
                        <h6><!--Nombre del paciente--></h6>
                    </div>
                </div>   
            </div>
            <div class="card-body card-tabla-paciente px-0 pt-0 pb-2">
                <div class="row">
                    <div class="col-md-12">
                        <h6><!--examen--></h6>
                    </div>
                </div> 

                <div id='external-events' class="row">
                    
                </div>
            </div> 
        </div>   
    </div>

    <div class="col-4">
        <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Fecha deseada</h6>
                    </div>
                </div>   
            </div>
            <div class="card-body card-tabla-paciente">
                <input type="date" id="wish_date" name="wish_date" min="2023-01-01" max="2024-12-31" class="form-control"/>
            </div> 
        </div>   
    </div>
    <div class="col-4">
        <div class="card mb-4 shadow">
            <div class="card-header pb-0">
                 
            </div>
            <div class="card-body card-tabla-paciente">
                <div class="row">
                    <button type="button" class="btn btn-nr-primary rounded-circle mx-2" id="editar_fecha_cita" >
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </button>

                    <button type="button" class="btn btn-nr-primary btn-danger" id="volver">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                    </button>
                </div>
            </div> 
        </div>   
    </div>
    <div class="row" id="agenda-section">
    <div class="row" id="card-agenda" hidden>
        <div class="card mb-12 shadow">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Arrastra el evento donde lo requieras>></h6>
                    </div>
                </div>   
            </div>
            <div class="card-agenda-general px-0 pt-0 pb-2">
                <div id="calendario" class="calendarioo"></div>
            </div> 
        </div>
    </div>
</div>
</div>
