{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css' rel='stylesheet' />
{% endblock stylesheets %} 

{% block content %}
<div class="position-absolute w-100 min-height-300 top-0" 
style="background-image: url('{{ config.ASSETS_ROOT }}/img/calendar.jpg'); background-size: cover; background-repeat: no-repeat; background-position: top;">
<span class="mask bg-primary opacity-6"></span>
</div>


  <!-- Modal -->
  <div class="modal fade custom-modal" id="modal_ec" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalLabel" aria-hidden="false" data-bs-backdrop="true" >
    <div class="modal-dialog" z-index="-2">
        <div class="modal-content">

          <div class="modal-header">
            
            <h1 class="modal-title fs-5" id="t_mod_ec"><!-- Nombre paciente --></h1>
            <form method="POST" action="/editar_cita" id="Form_ec">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
          </div>

          <div class="modal-body">
            
              <input type="hidden" name="id_est" id="id_est">
              <input type="hidden" name="id_ec" id="id_ec">
              <input type="hidden" name="fecha" id="fecha">
              <input type="hidden" name="nombre_modal" id="nombre_modal">
              <div class="form-group row">
                <div class="col-md-6">
                    <label for="s_mref">Medico Referente</label>
                    <select id="s_mref" name="s_mref" class="form-control">
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="s_msol">Medico Solicitante</label>
                  <select id="s_msol" name="s_msol" class="form-control">
                </select>
              </div>
              </div>

              <div class="form-group row">
                <label for="ex_old">Estudio asignado</label>
                <input type="text" class="form-control" id="ex_old" name="ex_old">
              </div>
              <div class="form-group row card-tabla-paciente">
                <table class="tabla-primary table" id="tabla-exam-modal">
                  <thead>
                      <tr>
                          <th>Codigo</th>
                          <th>Examen</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-success save-changes">Editar cita</button>
          </form>
            <button class="btn btn-primary btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </div>
    </div>
  </div>

  <!-- FIN MODAL -->
      
  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer"></div>

    

<!-- card de busqueda -->
      <div class="row mx-10 pt-2">
        <div class="col-12">
          <div class="card mb-2 nr-card-1" id="card_buscar">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
              <h3><i class="fas fa-calendar"></i></i> Buscar Cita</h3>
              <div class="d-flex ms-auto">
                <button class="btn btn-nr-primary rounded-circle shadow-primary mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCardBody" aria-expanded="false" aria-controls="collapseCardBody">
                  <i class="fa fa-filter" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            
            <div id="collapseCardBody" class="collapse">
            <div class="card-body px-0 pt-0 pb-2">
                <input type="hidden" name="url" id="url">
              <div class="container-fluid">
                <div class="row datos-paciente">    
                  <div class="col-md-5">
                    <div class="row">
                      <div class="col-md-4">
                        <label for="nombre_pat">Nombre Paciente</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="nombre_pat" name="nombre_pat">
                  </div>
                   
                  </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="fecha_cita">
                                Fecha de la cita
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input type="date" class='dp form-control' id="fecha_cita" name="fecha_nac">
                        </div>
                    </div>
                    
    
                </div>
                    <div class="col-md-5">
                        <div class="row">
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="medico_referente">
                                        Medico referente
                                    </label>
                                </div>
                                <div class="col-md-8">
                                  <label for="medico_referente">
                                    <select id="medico_referente" class="form-control"></select>
                                  </label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                  <label for="medico_solicitante">
                                      Medico Solicitante
                                  </label>
                              </div>
                              <div class="col-md-8">
                                <label for="medico_solicitante">
                                  <select id="medico_solicitante" class="form-control"></select>
                                </label>
                            </div>
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 d-flex justify-content-end">
                      <button type="button" id="limpiar_filtros" class="btn btn-nr-primary rounded-circle shadow-primary mx-2 botones_sp btn-danger">
                          <i class="fa fa-eraser" aria-hidden="true" style="font-size: 25px;"></i>
                      </button>
                  </div>            
                </div>
              
            </div>
           

            </div>
          </div>
          
            
          </div>
        </div>
      </div>
<!-- FIN card de busqueda -->
      <div class="row">
        <div class="col-12">
          <div class="card mb-4 shadow" id="card_citas">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-md-4">
                      <h5><i class="fas fa-calendar"></i>   Citas</h5>
                    </div>
                    <div class="col-md-8 d-flex justify-content-end">

                      <button type="button" class="btn btn-nr-primary rounded-circle shadow-primary mx-2 botones_ec" disabled patient-id="" id="editar_cita" >
                        <i class="fa fa-align-left" aria-hidden="true"></i>
                    </button>

                    <button type="button"  class="btn btn-nr-primary rounded-circle shadow-primary mx-2 botones_ec" disabled patient-id="" id="b_editar_fecha">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>

                    <button type="button" id="eliminar_cita" class="btn btn-nr-primary botones_ec delete_b" disabled patient-id="">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    </div>
                </div>
                
                
            </div>
            <div class="card-body card-tabla-paciente px-0 pt-0 pb-2">
                <table class="tabla-primary table" id="tabla-citas">
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Turno</th>
                            <th>Medico Referente</th>
                            <th>Examen</th>
                            <th>medico solicitante</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div> 
        </div>
      </div>
      </div>

      <div class="row">
        <div id="calendario-content" class="mt-4" data-id=""></div>
      </div>

      {% include "includes/footer.html" %}

    </div>
    <!-- <script src="{{ config.ASSETS_ROOT }}/js/functions.js"></script> -->
    
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="{{ config.ASSETS_ROOT }}/js/nrframework.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/editarCita.js"></script>
  </main>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}
