{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css' rel='stylesheet' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


{% endblock stylesheets %}


{% block content %}
<div class="position-absolute w-100 min-height-300 top-0" 
style="background-image: url('{{ config.ASSETS_ROOT }}/img/config.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
<span class="mask bg-primary opacity-6"></span>
</div>

      
  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative flex-grow-1 min-vh-100">

    <div class="container-fluid py-2">
      
        
        <div class="row mb-4 ">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  role="button">Procedencias</a>
                    <ul class="dropdown-menu">
                        <li><button class="nav-link" id="pills-group-origins-tab" data-bs-toggle="pill" data-bs-target="#pills-group-origins" type="button" >Grupos de Procedencias</button></li>
                        <li><button class="nav-link" id="pills-origins-tab" data-bs-toggle="pill" data-bs-target="#pills-origins" type="button" >Lista de Procedencias</button></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Examenes</a>
                    <ul class="dropdown-menu" id="examenes_wacas">
                      <li><button class="nav-link" id="pills-ministerial-codes-tab" data-bs-toggle="pill" data-bs-target="#pills-ministerial-codes" type="button" role="tab">Codigo Ministerial </button></li>
                      <li><button class="nav-link" id="pills-methods-tab" data-bs-toggle="pill" data-bs-target="#pills-methods" type="button" role="tab">Metodos</button></li>
                      <li><button class="nav-link" id="pills-body-parts-tab" data-bs-toggle="pill" data-bs-target="#pills-body-parts" type="button" role="tab" >Partes del cuerpo</button></li>
                      <li><button class="nav-link" id="pills-exams-tab" data-bs-toggle="pill" data-bs-target="#pills-exams" type="button" role="tab">Exámenes</button></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation" >
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="agendasss" role="button">Agendas</a>
                    <ul class="dropdown-menu">
                        <li><button class="nav-link" id="pills-rooms-tab" data-bs-toggle="pill" data-bs-target="#pills-rooms" type="button" role="tab">Habitaciones</button></li>
                        <li><button class="nav-link" id="pills-machines-tab" data-bs-toggle="pill" data-bs-target="#pills-machines" type="button" role="tab">Maquinas</button></li>
                        <li><button class="nav-link" id="pills-agendas-tab" data-bs-toggle="pill" data-bs-target="#pills-agendas" type="button" role="tab">Agendas</button></li>
                        <li><button class="nav-link" id="pills-business-unit-tab" data-bs-toggle="pill" data-bs-target="#pills-business-unit" type="button" role="tab">Unidades de negocios</button></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Usuarios/Personal</a>
                    <ul class="dropdown-menu">
                        <li><button class="nav-link" id="pills-positions-tab" data-bs-toggle="pill" data-bs-target="#gestion_users" type="button" role="tab">Gestion de usuarios</button></li>
                        <li><button class="nav-link" id="pills-qualification-tab" data-bs-toggle="pill" data-bs-target="#pills_med_request" type="button" role="tab">Medicos Solicitantes</button></li>
                        <li><button class="nav-link" id="pills-qualification-tab" data-bs-toggle="pill" data-bs-target="#pills_med_agenda" type="button" role="tab">Agenda de medicos</button></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Materiales</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Radionucleidos</a></li>
                      <li><a class="dropdown-item" href="#">RadioFármacos</a></li>
                    </ul>
                </li>
              </ul>
              <!-- Lista de pills -->
              <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade" id="pills-group-origins" role="tabpanel" aria-labelledby="pills-group-origins-tab">
                    
                    {% include "includes/config_templates/group_origins.html" %}

                </div>

                <div class="tab-pane fade" id="pills-origins" role="tabpanel" aria-labelledby="pills-origins-tab">
                    {% include "includes/config_templates/origins.html" %}
                </div>

                <div class="tab-pane fade" id="pills-ministerial-codes" role="tabpanel" aria-labelledby="pills-ministerial-codes-tab">
                    {% include "includes/config_templates/ministerial_codes.html" %}
                </div>

                <div class="tab-pane fade" id="pills-methods" role="tabpanel" aria-labelledby="pills-methods-tab">
                    
                    {% include "includes/config_templates/methods.html" %}
                </div>

                <div class="tab-pane fade" id="pills-body-parts" role="tabpanel" aria-labelledby="pills-body-parts-tab">
                    {% include "includes/config_templates/anatomilal_part.html" %}
                </div>

                <div class="tab-pane fade" id="pills-exams" role="tabpanel" aria-labelledby="pills-exams-tab">
                    {% include "includes/config_templates/exams.html" %}
                </div>
                
                <div class="tab-pane fade" id="pills-rooms" role="tabpanel" aria-labelledby="pills-rooms">
                    {% include "includes/config_templates/rooms.html" %}
                </div>

                <div class="tab-pane fade" id="pills-machines" role="tabpanel" aria-labelledby="pills-machines">
                    {% include "includes/config_templates/machines.html" %}
                </div>

                <div class="tab-pane fade" id="pills-agendas" role="tabpanel" aria-labelledby="pills-agendas">
                    {% include "includes/config_templates/Agendas.html" %}
                </div>

                <div class="tab-pane fade" id="pills-business-unit" role="tabpanel" aria-labelledby="pills-business-unit">
                    {% include "includes/config_templates/BusinessUnits.html" %}
                </div>
                
                <div class="tab-pane fade" id="gestion_users" role="tabpanel" aria-labelledby="gestion_users">
                    {% include "includes/config_templates/users.html" %}
                </div>

                <div class="tab-pane fade" id="pills_med_request" role="tabpanel" aria-labelledby="pills_med_request">
                    {% include "includes/config_templates/medicos_solicitantes.html" %}
                </div>

                <div class="tab-pane fade" id="pills_med_agenda" role="tabpanel" aria-labelledby="pills_med_agenda">
                    {% include "includes/config_templates/agendas_medicos.html" %}
                </div>



              </div>
        </div>
      {% include "includes/footer.html" %}

    </div>
    <script src="{{ config.ASSETS_ROOT }}/js/nrframework.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/scriptsConfiguraciones.js"></script>    
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Scripts de datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/interaction/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/daygrid/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/timegrid/main.min.js'></script> -->

  </main>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}
