{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css' rel='stylesheet' />
<link rel="stylesheet" href="/static/assets/css/modern-pills.css">
<link rel="stylesheet" href="/static/assets/css/modern-cards.css">
{% endblock stylesheets %}


{% block content %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>

      
  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">

    <div class="container-fluid py-4">


        <!-- Notificacion -->
        {% if cargado: %}
        <div class="card mb-4 alert alert-success" id="notif-carga">
            <div class="row">
                <div class="col-md-11">
                    <h3>Paciente cargado con éxito</h3>
                </div>
                <div class="col-md-1 d-flex align-items-center justify-content-end">
                    <div>
                        <button type="button" class="btn-close" aria-label="Close" id="btn-close"></button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Fin notificacion -->

        
        
        <div class="row mb-4">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" id="grouo_or_p">Procedencias</a>
                    <ul class="dropdown-menu">
                        <li><button class="nav-link" id="pills-group-origins-tab" data-bs-toggle="pill" data-bs-target="#pills-group-origins" type="button" role="tab">Grupos de Procedencias</button></li>
                        <li><button class="nav-link" id="pills-origins-tab" data-bs-toggle="pill" data-bs-target="#pills-origins" type="button" role="tab">Lista de Procedencias</button></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Examenes</a>
                    <ul class="dropdown-menu">
                      <li><button class="nav-link" id="pills-ministerial-codes-tab" data-bs-toggle="pill" data-bs-target="#pills-ministerial-codes" type="button" role="tab" aria-controls="pills-examen-" aria-selected="false">Codigo Ministerial </button></li>
                      <li><button class="nav-link" id="pills-methods-tab" data-bs-toggle="pill" data-bs-target="#pills-methods" type="button" role="tab" aria-controls="pills-examen-" aria-selected="false">Metodos</button></li>
                      <li><button class="nav-link" id="pills-body-parts-tab" data-bs-toggle="pill" data-bs-target="#pills-body-parts" type="button" role="tab" aria-controls="pills-body-parts" aria-selected="false">Partes del cuerpo</button></li>
                      <li><button class="nav-link" id="pills-exams-tab" data-bs-toggle="pill" data-bs-target="#pills-exams" type="button" role="tab" aria-controls="pills-examen-" aria-selected="false">Exámenes</button></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Agendas</a>
                    <ul class="dropdown-menu">
                        <li><button class="nav-link" id="pills-rooms-tab" data-bs-toggle="pill" data-bs-target="#pills-rooms" type="button" role="tab" aria-controls="pills-rooms-" aria-selected="false">Habitaciones</button></li>
                        <li><button class="nav-link" id="pills-machines-tab" data-bs-toggle="pill" data-bs-target="#pills-machines" type="button" role="tab" aria-controls="pills-machines-" aria-selected="false">Maquinas</button></li>
                        <li><button class="nav-link" id="pills-agendas-tab" data-bs-toggle="pill" data-bs-target="#pills-agendas" type="button" role="tab" aria-controls="pills-agendas-" aria-selected="false">Agendas</button></li>
                        <li><button class="nav-link" id="pills-cost-centers-tab" data-bs-toggle="pill" data-bs-target="#pills-cost-centers" type="button" role="tab" aria-controls="pills-cost-centers-" aria-selected="false">Centro de costos</button></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuarios/Personal</a>
                    <ul class="dropdown-menu">
                        <li><button class="nav-link" id="pills-positions-tab" data-bs-toggle="pill" data-bs-target="#pills-positions" type="button" role="tab" aria-controls="pills-positions-" aria-selected="false">Posiciones de personal</button></li>
                        <li><button class="nav-link" id="pills-qualification-tab" data-bs-toggle="pill" data-bs-target="#pills-qualification" type="button" role="tab" aria-controls="pills-qualification-" aria-selected="false">Calificaion</button></li>
                        <li><button class="nav-link" id="pills-personal-tab" data-bs-toggle="pill" data-bs-target="#pills-personal" type="button" role="tab" aria-controls="pills-personal" aria-selected="false">Personal</button></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Materiales</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Radionucleidos</a></li>
                      <li><a class="dropdown-item" href="#">RadioFármacos</a></li>
                    </ul>
                </li>
                <li class="nav-item" role="presentation" id="dni-item" style="pointer-events: none; margin-left: auto;">
                    <span class="nav-link hidden" aria-selected="false" id="dni-value">hola</span>
                </li>
              </ul>
              <!-- Lista de pills -->
              <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade" id="pills-group-origins" role="tabpanel" aria-labelledby="pills-group-origins-tab">
                    
                    {% include "includes/config_templates/group_origins.html" %}

                </div>

                <div class="tab-pane fade" id="pills-origins" role="tabpanel" aria-labelledby="pills-origins-tab">
                    {% include "includes/config_templates/origins.html" %}
                </div>

                <div class="tab-pane fade" id="pills-ministerial-codes" role="tabpanel" aria-labelledby="pills-ministerial-codes-tab">
                    {% include "includes/config_templates/studytypes.html" %}
                </div>

                <div class="tab-pane fade" id="pills-methods" role="tabpanel" aria-labelledby="pills-methods-tab">
                    
                    {% include "includes/config_templates/methods.html" %}
                </div>

                <div class="tab-pane fade" id="pills-body-parts" role="tabpanel" aria-labelledby="pills-body-parts-tab">
                    {% include "includes/config_templates/anatomilal_part.html" %}
                </div>

                <div class="tab-pane fade" id="pills-exams" role="tabpanel" aria-labelledby="pills-exams-tab">
                    {% include "includes/config_templates/exams.html" %}
                </div>
                
                <div class="tab-pane fade" id="pills-rooms" role="tabpanel" aria-labelledby="pills-rooms">
                    {% include "includes/config_templates/rooms.html" %}
                    twdtfewrrewrew
                </div>

                <div class="tab-pane fade" id="pills-machines" role="tabpanel" aria-labelledby="pills-machines">
                    Maquinas
                </div>

                <div class="tab-pane fade" id="pills-agendas" role="tabpanel" aria-labelledby="pills-agendas">
                    Agendas
                </div>

                <div class="tab-pane fade" id="pills-cost-centers" role="tabpanel" aria-labelledby="pills-cost-centers">
                    Centro de Costos
                </div>

                <div class="tab-pane fade" id="pills-positions" role="tabpanel" aria-labelledby="pills-positions">
                    Posiciones de personal
                </div>

                <div class="tab-pane fade" id="pills-qualification" role="tabpanel" aria-labelledby="pills-qualification">
                    Calificaciones
                </div>

                <div class="tab-pane fade" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal">
                    Lista de Personal
                </div>

              </div>
        </div>
      {% include "includes/footer.html" %}

    </div>
    <script src="{{ config.ASSETS_ROOT }}/js/scriptsConfiguraciones.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js'></script>
    <!-- <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/interaction/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/daygrid/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/timegrid/main.min.js'></script> -->

  </main>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}
