{% extends 'layouts/base.html' %}

{% block title %} Nueva Cita {% endblock title %}

{% block stylesheets %}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css' rel='stylesheet' />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

{% endblock stylesheets %} 

{% block content %}
<div class="position-absolute w-100 min-height-300 top-0" 
style="background-image: url('{{ config.ASSETS_ROOT }}/img/calendar.jpg'); background-size: cover; background-repeat: no-repeat; background-position: top;">
<span class="mask bg-primary opacity-6"></span>
</div>

  {% include "includes/sidenav.html" %} 

  
  
  <main class="main-content position-relative" id="main_content">

    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer"></div>
    <div class="modal-container" id="modalCointeiner"></div>
  
    <div class="container-fluid py-4 h-100">
        <div class="row">
          <ul class="nav nav-pills mb-3 align-items-center d-flex w-100" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-paciente-tab" data-bs-toggle="pill" data-bs-target="#pills-paciente" type="button" role="tab" aria-controls="pills-paciente" aria-selected="true">Paciente</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-examen-tab" data-bs-toggle="pill" data-bs-target="#pills-examen" type="button" role="tab" aria-controls="pills-examen" aria-selected="false">Examen</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-agenda-tab" data-bs-toggle="pill" data-bs-target="#pills-agenda" type="button" role="tab" aria-controls="pills-agenda" aria-selected="false">Agenda</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-prest-tab" data-bs-toggle="pill" data-bs-target="#pills-prest" type="button" role="tab" aria-controls="pills-prest" aria-selected="false">Prestación</button>
            </li>
            <!-- Agregar ms-auto para empujar los siguientes elementos hacia la derecha -->
            <li class="nav-item ms-auto" role="presentation" id="dni-item">
                <!-- Aquí va el contenido del dni-item -->
            </li>
            <!-- Botón adicional con clase ms-auto -->
            <li class="nav-item align-items-end" role="presentation">
                <button type="button" id="b_conf_datos" class="btn btn-nr-primary btn-success">
                    <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 30px;"></i>
                </button>
            </li>
        </ul>
        
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-paciente" role="tabpanel" aria-labelledby="pills-paciente-tab">
                    {% include "includes/admision_templates/search_patient.html" %}
                </div>
                <div class="tab-pane fade" id="pills-examen" role="tabpanel" aria-labelledby="pills-examen-tab">
                    {% include "includes/citas_templates/exam.html" %}
                </div>
                <div class="tab-pane fade" id="pills-agenda" role="tabpanel" aria-labelledby="pills-agenda-tab">
                  {% include "includes/citas_templates/agenda.html" %}
                </div>
                <div class="tab-pane fade" id="pills-prest" role="tabpanel" aria-labelledby="pills-prest-tab">
                    {% include "includes/citas_templates/prestacion.html" %}
                </div>
            </div>
        </div>

      {% include "includes/footer.html" %}
    </div>
    
    <script src="{{ config.ASSETS_ROOT }}/js/citas.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/nrframework.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js'></script>
  </main>
{% endblock content %}

{% block javascripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/interaction/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/daygrid/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/timegrid/main.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const pillsTab = document.getElementById('pills-tab');
            const navLinks = pillsTab.querySelectorAll('.nav-link');

            navLinks.forEach(function (navLink) {
                navLink.addEventListener('click', function () {
                    navLinks.forEach(function (link) {
                        link.classList.remove('active');
                    });
                    navLink.classList.add('active');
                });
            });
        });
        // Inicializar la animación Lottie

    </script>
{% endblock javascripts %}
